:root {
	/* 
	* this is primary color, applied on:
	* background, underline
	 */
	--primary: #262626;
	--primary-disabled: #292222;
	/*
	* this is secondary color, applied on:
	* text, border
	*/
	--secondary: white;
	--secondary-disabled: #ababab;
	/*
	* this is third color, applied on:
	* button, 
	*/
	--third: hsl(51, 100%, 50%);
	--third-disabled: hsl(51, 100%, 50%);

	--third2: #3522e2;
	--third2-disabled: #3522e2;

	--third3: hsl(0, 75%, 46%);
	--third3-disabled: #8c1111;
	/*
	* other colors, used on random object.
	*/
	--o1: #1e45f3;
	--o1-disabled: #4061f7;

	--o2: #f3a81e;
	--o2-disabled: #fabb46;

	--o3: #1e45f3;
	--o3-disabled: #4061f7;
}